
.form-control.error {
      color: #FF4961 !important;
      border-color: #FF4961 !important; 
}
.form-control.valid{
    color: #28D094 !important;
    border-color: #28D094 !important;
}

.custom-select.error {
     color: #FF4961 !important;
      border-color: #FF4961 !important; 
}

.custom-select.valid{
    color: #28D094 !important;
    border-color: #28D094 !important;
}

.border-dark.border-radius-1.error {
     color: #FF4961 !important;
      border-color: #FF4961 !important; 
}

.border-dark.border-radius-1.valid {
     color: #28D094 !important;
    border-color: #28D094 !important;
}